{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}
    <main class="main-content container">
        <div class="image-container">
            <img src="{% static 'images/Masterworks logo higer quality.png' %}" alt="Comparison Studies"></div>
        <div class="circular-images">
            <img src="{% static 'images/MWCS.png' %}" alt="Comparison Studies">
            <img src="{% static 'images/MWFS.png' %}" alt="Film Studies">
            <img src="{% static 'images/MWS.png' %}" alt="Shakespeare">
            <img src="{% static 'images/MWNN.png' %}" alt="Nano Nagle Case Study">
            <img src="{% static 'images/MWRR.png' %}" alt="Relics Retold">
            <img src="{% static 'images/MWWS.png' %}" alt="The Wallace Sisters Case Study">
        </div>
        <br>
        <a href="{% url 'workshop_list' %}" class="btn-book">Book Now</a>
        <h2 class="section-title" id="about-text">About</h2>
        <p class="about-text">
            At Ocean Of Notions Performance company, we specialize in creating innovative school workshop ideas tailored to a variety of educational needs. 
            Our Masterworks program offers dynamic workshops designed for the Junior Cert and Leaving Certificate students, 
            providing them with valuable learning experiences that extend beyond the traditional classroom. 
            Our workshops cover a range of subjects including Shakespearean classics, comparison studies for the Senior Cycle, 
            and film studies for all ages. We pride ourselves on developing engaging and educational experiences that meet the specific 
            needs of both junior and senior cycle students. <br>Masterworks is spearheaded by our founder Judie Charmers, 
            a performer, director, producer, and most importantly, a dedicated teacher. With extensive training in Shakespearean 
            classics at Themes University’s Royal College of Music and Media, Judie combines her experience with a passion for 
            literature. She expertly balances structure with flexibility, making her workshops ideal for both the Junior Cert 
            and the Leaving Certificate. Over the past X years, Judie has become a familiar face in English classrooms across 
            the country. Her expertise in Shakespearean classics, film, and overall story structure ensures that her workshops 
            leave a lasting impression on students, far beyond the confines of the classroom.
        </p>
        
        <div class="reviews">
            <div class="review-card">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua”</p>
                <p>Jane Doe</p>
                <p>Film Studies</p>
            </div>
            <div class="review-card">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua”</p>
                <p>James Doe</p>
                <p>Comparison Studies</p>
            </div>
            <div class="review-card">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua”</p>
                <p>John Doe</p>
                <p>The Wallace Sisters</p>
            </div>
        </div>
        
        <h2 class="section-title">Booking</h2>
        <p class="booking-text">
            At Ocean Of Notions Performance company, based in Cork, we offer a range of innovative school workshop 
            ideas designed to meet the educational needs of students.Our workshops cater to both the Junior Cert and 
            the Leaving Certificate, providing engaging and educational experiences tailored to the Junior Cycle and 
            Senior Cycle. By signing up and creating a profile on our secure platform, teachers can access a variety
            of specialized workshops, including comparison studies and film studies. <br>To ensure accurate school 
            information and maintain the highest level of confidentiality, this secure registration process also 
            allows for convenient scheduling. Teachers can modify workshop times and dates up to 48 hours in advance,
            making it easy to adapt to changing classroom needs. Payments are handled securely through our website,
            providing peace of mind. <br>Join us today and discover how our Cork-based team can bring dynamic, 
            impactful learning experiences to your students, whether you're looking for workshops for the Junior Cert, 
            Senior Cycle, or exploring school workshop ideas in your local area!
        </p>
    </main>
{% endblock %}


