<!DOCTYPE html>
<html>
<head>
    <title>Workshop List</title>
</head>
<body>
    <h1>Workshops</h1>
    <ul>
        {% for workshop in workshops %}
            <li>
                 {% if workshop.image %}
                    <img src="{{ workshop.image.url }}" alt="{{ workshop.title }}" width="100">
                {% else %}
                    <p>No Image Available</p>
                {% endif %}
                <a href="{% url 'workshop_detail' workshop_id=workshop.id %}">{{ workshop.title }}</a>
                <p>{{ workshop.description }}</p>
                <p>Price: €{{ workshop.price }}</p>
                <p>Category: {{ workshop.category }}</p>
                <p>Runtime: {{ workshop.runtime }}</p>
                <form action="{% url 'add_to_cart' workshop_id=workshop.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <select name="date_time_id">
                        {% for date_time in workshop.dates_times.all %}
                            <option value="{{ date_time.id }}">{{ date_time.date_time }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

