{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'profiles/css/edit_profile.css' %}">
    <script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Edit profile</h1>

<div class="details-form-container">
            <div class="user-details">
                <h3>User Details</h3>
                <p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone Number:</strong> {{ user.profile.phone_number }}</p>
            </div>
            

    <div class="profile-section">
        <div class="profile-header">
            <img id="profile-photo" src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'profiles/default_profile.jpg' %}{% endif %}" alt="Profile Photo" class="profile-photo">
            <div class="profile-info">
                <p class="profile-name">{{ user.get_full_name }}</p>
                <p class="profile-phone">{{ user.profile.phone_number }}</p>
            </div>
        </div>
    
            <div class="profile-form">
                <form method="post" enctype="multipart/form-data">
                    <label for="id_profile_picture" class="profile-picture-label">Change profile picture</label>
                <input type="file" id="id_profile_picture" name="profile_picture" class="hidden-file-input">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_school_details">School Details:</label>
                        {{ form.school_details }}
                    </div>
                    <div class="form-group">
                        <label for="id_students_info">My students are:</label>
                        {{ form.students_info }}
                    </div>
                    <button type="submit" class="save-changes">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    
<h2>Booked Workshops</h2>
        <div class="booked-workshops">
            <ul>
                {% for workshop in user.profile.booked_workshops.all %}
                    <li>{{ workshop.title }}</li>
                    
                {% empty %}
                    <li>No workshops booked yet.</li>
                {% endfor %}
            </ul>
        </div>
    
</div>

{% if message %}
<div class="alert alert-success mt-3" role="alert">
    {{ message }}
</div>
{% endif %}
{% endblock %}



