<!-- templates/accounts/edit_profile.html -->

{% extends 'base.html' %}

{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'profiles/css/edit_profile.css' %}">
    <script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-content">
    <h1>Profile</h1>

    <div class="details-form-container">
        <div class="profile-section">
            <div class="profile-header">
                <img id="profile-photo" src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture.url }}{% else %}{% static 'profiles/default_profile.jpg' %}{% endif %}" alt="Profile Photo" class="profile-photo"><br>
             <label for="id_profile_picture" class="profile-picture-label">Change profile picture</label><br>
              <input type="file" id="id_profile_picture" name="profile_picture" class="hidden-file-input">
            </div>
        
            <div class="user-details">
            <p><strong>Email:</strong> {{ request.user.email }}</p>
            </div>
        
        

            <div class="profile-form">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_school_details"><strong>School Details:</strong></label>
                        {{ form.school_details }}
                    </div>
                    <div class="form-group">
                        <label for="id_students_info"><strong>My students are:</strong></label>
                        {{ form.students_info }}
                    </div>
                    <button type="submit" class="save-changes">Save changes</button>
                </form>
            </div>
        </div>
    </div>

    <h2>Booked Workshops</h2>
    <div class="booked-workshops">
        {% for workshop in user.profile.booked_workshops.all %}
            <div class="workshop">
                <div class="workshop-details">
                    <div class="workshop-image">
                        <img src="{% static 'path_to_your_workshop_image.jpg' %}" alt="Workshop Image">
                        <div class="workshop-text">{{ workshop.title }}</div>
                    </div>
                    <div class="workshop-info">
                        <h3>{{ workshop.category }} - {{ workshop.level }}</h3>
                        <p class="price">{{ workshop.price }}</p>
                        <p class="about">{{ workshop.description }}</p>
                    </div>
                </div>
                <div class="workshop-action">
                    <p class="date">{{ workshop.date }}</p>
                    <form action="{% url 'cancel_workshop' workshop.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="cancel-button">Cancel workshop</button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>No workshops booked yet.</p>
        {% endfor %}
    </div>
</div>

{% if message %}
<div class="alert alert-success mt-3" role="alert">
    {{ message }}
</div>
{% endif %}
{% endblock %}


