body {
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 400px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 170px; /* Example margin for spacing */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.site-title {
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin-left: 2rem;
    color: #6b7280;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: mediumturquoise;
}


.footer {
    background-color: #f3f4f6;
    padding: 2rem 0;
    text-align: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-contact {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.footer-contact-items {
    margin-bottom: 20px;
}

.footer-contact-items a {
    text-decoration: none;
    color:turquoise;
}

.footer-social {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-social a {
    font-size: 2rem;
    color: #6b7280;
    text-decoration: none;
}

.footer h2,
.footer-social a:hover {
    color: #362B3D;
}

.ml-auto {
    margin-left: auto; /* Pushes social icons to the right */
}

