{% extends "base.html" %}
{% load static %}

{% block title %}Your Cart{% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<main class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="cart-container">
        <div class="cart-content">
            <h2 id="section-title">Your Cart</h2>
            <ul class="cart-items">
                {% for cart_item in cart.items.all %}
                    <li class="cart-item">
                        {% if cart_item.workshop.image %}
                            <img src="{{ cart_item.workshop.image.url }}" alt="{{ cart_item.workshop.title }}">
                        {% else %}
                            <p>No Image Available</p>
                        {% endif %}
                        <div class="item-details">
                            <h3>{{ cart_item.workshop.title }}</h3>
                            <p>Price: €{{ cart_item.workshop.price }}</p>
                            <p>Date and Time: {{ cart_item.date_time }}</p>
                            <p>Quantity: {{ cart_item.quantity }}</p>

                            <!-- Form for removing item from cart -->
                            <form class="remove-item-form" action="{% url 'remove_cart_item' cart_item.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                                <button type="submit" class="remove-item-btn">Remove</button>
                            </form>
                        </div>
                    </li>
                {% empty %}
                    <li>Your cart is empty.</li>
                {% endfor %}
            </ul>

           <!-- Cart Total-->
<div id="cart-tot" class="cart-total">
    <h3>Total: €{{ total|floatformat:2 }}</h3>
</div>

<!-- Check if the cart has any items before rendering the payment form -->
{% if cart.items.all %}
    <!-- Payment Form -->
    <form id="payment-form" action="{% url 'create-checkout-session' cart.items.first.workshop.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="submit-button" class="btn btn-primary btn-block mt-3">Proceed to Payment</button>
    </form>
{% else %}
    <p>Your cart is empty. Please add some items to proceed with payment.</p>
{% endif %}

        </div>
    </div>

    </div>
</main>
{% endblock %}

{% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/../../static/js/stripe_payment.js' %}"></script>
{% endblock %}





