.main-content {
    margin-left: 270px;
    padding: 2rem;
    flex-grow: 1;
}

.profile-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.profile-photo-section {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 100px;
}

.profile-label {
    flex-basis: 100%;
    display: inline-block;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
}

.profile-picture-label {
    display: inline-block;
    color: teal;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.profile-picture-label:hover {
    color: #362B3D;
}

.profile-info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.user-details {
    flex-basis: 50%;
    margin-top: 1rem;
    padding-left: 1rem;
}

.user-details h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.booked-workshops {
    flex-basis: 100%;
    margin-top: 2rem;
}

.profile-form-section {
    flex-basis: 100%;
    margin-top: 2rem;
}

.profile-form .form-group {
    margin-bottom: 20px;
}

.save-changes {
    background-color: teal;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.save-changes:hover {
    background-color: #362B3D;
}

/* Additional styles for form labels */
.profile-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.workshop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.workshop-details {
    display: flex;
    align-items: center;
}

.workshop-image {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.workshop-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.workshop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.workshop-info {
    flex-grow: 1;
}

.workshop-info h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    color: teal;
    margin-bottom: 5px;
}

.about {
    margin-bottom: 0;
}

.date {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333;
}

